:root {
    --blue-back: #0075ff33;
    --orange-back: #f59e0b33;
    --green-back: #22c55e33;
    --red-back: #ff000033;
    --blue: #0075ff;
    --orange: #f59e0b;
    --green: #22c55e;
    --red: #f44336;
}
/* start sections  */
.sections .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}
@media (max-width: 1200px) {
    .sections .container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}
.sections .container .sec{
    background-color: white;
}
.sections .projects{
    background-color:aquamarine;
    width: 100%;
    min-height: 400px;
}
/* end section  */
/* start welcome  */
.sections .welcome .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: solid; */
    padding: 10px 20px 20px;
    height: 40%;
}
.sections .welcome .top img{
    width: 150px;
}
.sections .welcome .top h3{
    font-size: 28px;
    text-transform: capitalize;
}
.sections .welcome .top p{
    margin-top: 5px;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}
.sections .welcome .box{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: solid #ddd;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    /* border: solid; */
}
.sections .welcome .box img{
    width: 45px;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(-50%, -50%);
}
.sections .welcome .box .stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}
.sections .welcome .box .stats .stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sections .welcome .box .stats .stat p{
    font-size: 14px;
}
.sections .welcome .box a{
    align-self: end;
    margin: 20px 20px 0 0;
    padding: 5px 15px;
    background-color: var(--blue);
    color: white;
    text-transform: capitalize;
    font-weight: 500;
}
/* end welcome  */
/* start draft  */
.sections .draft .top{
    padding: 20px;
}
.sections .draft .top h3{
    text-transform: capitalize;
    font-size: 28px;
}
.sections .draft .top p{
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 5px;
}
.sections .draft .box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sections .draft .box input:first-of-type{
    padding: 10px 15px;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    background-color: #eee;
}
.sections .draft .box textarea{
    font-size: 14px;
    padding: 10px 15px;
    text-transform: capitalize;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    height: 100px;
    background-color: #eee;
}
.sections .draft .box input:last-of-type{
    width: 80px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--blue);
    text-transform: capitalize;
    color: white;
    background-color: var(--blue);
    align-self: end;
    cursor: pointer;
}
/* end draft  */
/* start targets  */
.sections .targets {
    padding: 20px;
}
.sections .targets .top{
    padding-bottom: 30px;
}
.sections .targets .top h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 5px;
}
.sections .targets .top p{
    text-transform: capitalize;
    font-size: 16px;
}
.sections .targets .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sections .targets .box .stat{
    display: flex;
    gap: 30px;
}
.sections .targets .box .stat i{
    width: 80px;
    height: 80px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: none;
}
.sections .targets .box .stat1 i{
    background-color: var(--blue-back);
    color: var(--blue);
}
.sections .targets .box .stat2 i{
    background-color: var(--orange-back);
    color: var(--orange);
}
.sections .targets .box .stat3 i{
    background-color: var(--green-back);
    color: var(--green);
}
.sections .targets .box .stat .lvl{
    width: 80%;
    padding: 5px 0;
    position: relative;
}
.sections .targets .box .stat span{
    position: absolute;
    bottom: 50%;
    font-size: 14px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
    transform: translate(-50%, 50%);
}
.sections .targets .box .stat .money span{
    left: 80%;
    background-color: var(--blue);
}
.sections .targets .box .stat .proj span{
    left: 67%;
    background-color: var(--orange);
}
.sections .targets .box .stat .team span{
    left: 75%;
    background-color: var(--green);
}
.sections .targets .box .stat .money::before,
.sections .targets .box .stat .proj::before,
.sections .targets .box .stat .team::before{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 6px;
}
.sections .targets .box .stat .money::before{
    width: 80%;
    background-color: var(--blue);
}
.sections .targets .box .stat .proj::before{
    width: 67%;
    background-color: var(--orange);
}
.sections .targets .box .stat .team::before{
    width: 75%;
    background-color: var(--green);
}
.sections .targets .box .stat .money::after,
.sections .targets .box .stat .proj::after,
.sections .targets .box .stat .team::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 6px;
}
.sections .targets .box .stat .money::after{
    background-color: var(--blue-back);
}
.sections .targets .box .stat .proj::after{
    background-color: var(--orange-back);
}
.sections .targets .box .stat .team::after{
    background-color: var(--green-back);
}
.sections .targets .box .stat .lvl > p{
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 5px;
}
.sections .targets .box .stat .lvl h3{
    font-size: 16px;
    font-weight: 600;
}
/* end targets  */
/* start tickets  */
.sections .tickets {
    padding: 20px;
}
.sections .tickets .top{
    margin-bottom: 20px;
}
.sections .tickets .top h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 5px;
}
.sections .tickets .top p{
    font-size: 16px;
}
.sections .tickets .box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.sections .tickets .box .stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid;
    border-radius: 8px;
    padding: 10px 0;
}
.sections .tickets .box .total{
    border-color: var(--orange-back);
}
.sections .tickets .box .pending{
    border-color: var(--blue-back);
}
.sections .tickets .box .closed{
    border-color: var(--green-back);
}
.sections .tickets .box .deleted{
    border-color: var(--red-back);
}
.sections .tickets .box .stat i,
.sections .tickets .box .stat h3{
    font-size: 28px;
}
.sections .tickets .box .total i{
    color: var(--orange);
}
.sections .tickets .box .pending i{
    color: var(--blue);
}
.sections .tickets .box .closed i{
    color: var(--green);
}
.sections .tickets .box .deleted i{
    color: var(--red);
}
.sections .tickets .box .stat p{
    font-size: 16px;
    text-transform: capitalize;
}
/* end tickets  */
/* start news  */
.sections .news {
    padding: 20px;
}
.sections .news h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .news .box .new {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.sections .news .box .new:last-of-type {
    border: none;
    padding: 20px 0 0;
}
.sections .news .box .new img{
    width: 100px;
    border-radius: 8px;
}
.sections .news .box .new .text{
    position: relative;
    width: 100%;
}
.sections .news .box .new .text h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
}
.sections .news .box .new .text span{
    position: absolute;
    right: 0;
    bottom: 50%;
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: capitalize;
}
/* end news  */
/* start tasks  */
.sections .tasks {
    padding: 20px;
}
.sections .tasks h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .tasks .box .task {
    padding: 15px  0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.sections .tasks .box .task:last-of-type{
    border: none;
}
.sections .tasks .box .task h4{
    text-transform: capitalize;
    font-size: 16px;
}
.sections .tasks .box .done h4,
.sections .tasks .box .done p{
    text-decoration: line-through;
}
.sections .tasks .box .done h4,
.sections .tasks .box .done p,
.sections .tasks .box .done i{
    color: #ddd;
}
.sections .tasks .box .task p{
    font-size: 15px;
}
.sections .tasks .box .task i{
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
.sections .tasks .box .task i:hover{
    color: var(--red);
}
/* end tasks  */
/* start items  */
.sections .items {
    padding: 20px;
}
.sections .items h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .items .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    text-transform: capitalize;
}
.sections .items .item:first-of-type{
    color: gray;
}
.sections .items .item p{
    font-size: 16px;
    font-weight: 500;
}
.sections .items .item:first-of-type span{
    font-weight: 500;
    background-color: white;
    border: none;
}
.sections .items .item span{
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 5px;
    font-size: 14px;
}
/* end items  */
/* start uploads  */
.sections .uploads {
    padding: 20px;
}
.sections .uploads h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .uploads .box .file{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sections .uploads .box .file img{
    width: 40px;
}
.sections .uploads .box .file .desc{
    position: relative;
    width: 100%;
}
.sections .uploads .box .file .desc h4{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
.sections .uploads .box .file .desc p{
    text-transform: capitalize;
    font-size: 14px;
    color: gray;
}
.sections .uploads .box .file .desc span{
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 500;
}
/* end uploads  */
/* start progress  */
.sections .progress {
    padding: 20px;
}
.progress h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 20px;
}
.progress .box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
}
.progress .box::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 12%;
    transform: translateX(-50%);
    height: 77%;
    width: 3px;
    background-color: var(--blue);
}
.progress .box img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 150px;
    opacity: 20%;
}
.progress .box .proj{
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0 10px 30px;
    position: relative;
}
.progress .box .proj::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid var(--blue);
    z-index: 1;
    background-color: white;
}
.progress .box .done::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 1;
    background-color: var(--blue);
}
.progress .box .pend::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
    width: 0;
    height: 0;
    z-index: 1;
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes blink {
    0%{
        width: 0;
        height: 0;
    }
    50% {
        width: 20px;
        height: 20px;
        background-color: var(--blue);
    }
    100% {
        width: 0;
        height: 0;
    }
}
/* end progress  */
/* start reminders  */
.sections .reminders {
    padding: 20px;
    text-transform: capitalize;
}
.sections .reminders h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .reminders .box{
    margin-left: 25px;
}
.sections .reminders .task{
    position: relative;
    padding: 20px 0 20px 20px;
}
.sections .reminders .task::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    transform: translateY(-45%);
    width: 2px;
    height: 55%;
}
.sections .reminders .blue::before{
    background-color: var(--blue);
}
.sections .reminders .green::before{
    background-color: var(--green);
}
.sections .reminders .orange::before{
    background-color: var(--orange);
}
.sections .reminders .red::before{
    background-color: var(--red);
}
.sections .reminders .task::after{
    position: absolute;
    content: "";
    transform: translate(-50%, 45%);
    bottom: 50%;
    left: -3%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.sections .reminders .blue::after{
    background-color: var(--blue);
}
.sections .reminders .green::after{
    background-color: var(--green);
}
.sections .reminders .orange::after{
    background-color: var(--orange);
}
.sections .reminders .red::after{
    background-color: var(--red);
}
.sections .reminders .task h4{
    margin-bottom: 5px;
}
.sections .reminders .task p{
    font-size: 14px;
}
/* end reminders  */
/* start post  */
.sections .post {
    padding: 20px;
    text-transform: capitalize;
}
.sections .post h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .post .top{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid #eee;
}
.sections .post .top img{
    width: 50px;
}
.sections .post .top h4{
    font-size: 18px;
    margin-bottom: 5px;
}
.sections .post .top p{
    font-size: 15px;
    color: gray;
}
.sections .post .box{
    padding: 50px 0;
    line-height: 1.7;
    border-bottom: 2px solid #eee;
    font-weight: 500;
}
.sections .post .bottom{
    padding: 30px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sections .post .bottom .likes,
.sections .post .bottom .comments{
    position: relative;
    color: gray;
}
.sections .post .bottom .likes i,
.sections .post .bottom .comments i{
    position: absolute;
    left: -50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
}
/* end post  */
/* start social  */
.sections .social {
    padding: 20px;
    text-transform: capitalize;
}
.sections .social .box{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sections .social span{
    text-transform: uppercase;
}
.sections .social h3{
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .social .stat{
    display: flex;
    font-weight: 500;
    color: white;
}
.sections .social .stat i{
    font-size: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sections .social .blue i{
    background-color: var(--blue);
}
.sections .social .red i{
    background-color: var(--red);
}
.sections .social .orange i{
    background-color: var(--orange);
}
.sections .social .green i{
    background-color: var(--green);
}
.sections .social .stat div{
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.sections .social .blue div{
    background-color: var(--blue-back);
    color: var(--blue);
}
.sections .social .red div{
    background-color: var(--red-back);
    color: var(--red);
}
.sections .social .orange div{
    background-color: var(--orange-back);
    color: var(--orange);
}
.sections .social .green div{
    background-color: var(--green-back);
    color: var(--green);
}
.sections .social .stat div a{
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
}
.sections .social .blue div a{
    background-color: var(--blue);
    border: 1px solid var(--blue);
}
.sections .social .red div a{
    background-color: var(--red);
    border: 1px solid var(--red);
}
.sections .social .orange div a{
    background-color: var(--orange);
    border: 1px solid var(--orange);
}
.sections .social .green div a{
    background-color: var(--green);
    border: 1px solid var(--green);
}
/* end social  */