:root {
    --blue-back: #0075ff33;
    --orange-back: #f59e0b33;
    --green-back: #22c55e33;
    --red-back: #ff000033;
    --blue: #0075ff;
    --orange: #f59e0b;
    --green: #22c55e;
    --red: #f44336;
}
/* start sections  */
.sections .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}
@media (max-width: 1200px) {
    .sections .container {
        grid-template-columns: repeat(1, 1fr);
    }
    
}
.sections .container .sec{
    background-color: white;
}
.sections .projects{
    background-color:aquamarine;
    width: 100%;
    min-height: 400px;
}
/* end section  */
/* start welcome  */
.sections .welcome .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: solid; */
    padding: 10px 20px 20px;
    height: 40%;
}
.sections .welcome .top img{
    width: 150px;
}
.sections .welcome .top h3{
    font-size: 28px;
    text-transform: capitalize;
}
.sections .welcome .top p{
    margin-top: 5px;
    font-size: 16px;
    color: black;
    text-transform: capitalize;
}
.sections .welcome .box{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: solid #ddd;
    position: relative;
    padding-top: 30px;
    padding-bottom: 20px;
    /* border: solid; */
}
.sections .welcome .box img{
    width: 45px;
    position: absolute;
    top: 0;
    left: 10%;
    transform: translate(-50%, -50%);
}
.sections .welcome .box .stats{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
}
.sections .welcome .box .stats .stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sections .welcome .box .stats .stat p{
    font-size: 14px;
}
.sections .welcome .box a{
    align-self: end;
    margin: 20px 20px 0 0;
    padding: 5px 15px;
    background-color: var(--blue);
    color: white;
    text-transform: capitalize;
}
/* end welcome  */
/* start draft  */
.sections .draft .top{
    padding: 20px;
}
.sections .draft .top h3{
    text-transform: capitalize;
    font-size: 28px;
}
.sections .draft .top p{
    text-transform: capitalize;
    font-size: 16px;
    margin-top: 5px;
}
.sections .draft .box{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sections .draft .box input:first-of-type{
    padding: 10px 15px;
    font-size: 14px;
    text-transform: capitalize;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    background-color: #eee;
}
.sections .draft .box textarea{
    font-size: 14px;
    padding: 10px 15px;
    text-transform: capitalize;
    border: 1px solid #eee;
    border-radius: 8px;
    outline: none;
    height: 100px;
    background-color: #eee;
}
.sections .draft .box input:last-of-type{
    width: 80px;
    padding: 5px 15px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid var(--blue);
    text-transform: capitalize;
    color: white;
    background-color: var(--blue);
    align-self: end;
    cursor: pointer;
}
/* end draft  */
/* start targets  */
.sections .targets {
    padding: 20px;
}
.sections .targets .top{
    padding-bottom: 30px;
}
.sections .targets .top h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 5px;
}
.sections .targets .top p{
    text-transform: capitalize;
    font-size: 16px;
}
.sections .targets .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sections .targets .box .stat{
    display: flex;
    gap: 30px;
}
.sections .targets .box .stat i{
    width: 80px;
    height: 80px;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: none;
}
.sections .targets .box .stat1 i{
    background-color: var(--blue-back);
    color: var(--blue);
}
.sections .targets .box .stat2 i{
    background-color: var(--orange-back);
    color: var(--orange);
}
.sections .targets .box .stat3 i{
    background-color: var(--green-back);
    color: var(--green);
}
.sections .targets .box .stat .lvl{
    width: 80%;
    padding: 5px 0;
    position: relative;
}
.sections .targets .box .stat span{
    position: absolute;
    bottom: 50%;
    font-size: 14px;
    color: white;
    padding: 5px 5px;
    border-radius: 8px;
    transform: translate(-50%, 50%);
}
.sections .targets .box .stat .money span{
    left: 80%;
    background-color: var(--blue);
}
.sections .targets .box .stat .proj span{
    left: 67%;
    background-color: var(--orange);
}
.sections .targets .box .stat .team span{
    left: 75%;
    background-color: var(--green);
}
.sections .targets .box .stat .money::before,
.sections .targets .box .stat .proj::before,
.sections .targets .box .stat .team::before{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    height: 6px;
}
.sections .targets .box .stat .money::before{
    width: 80%;
    background-color: var(--blue);
}
.sections .targets .box .stat .proj::before{
    width: 67%;
    background-color: var(--orange);
}
.sections .targets .box .stat .team::before{
    width: 75%;
    background-color: var(--green);
}
.sections .targets .box .stat .money::after,
.sections .targets .box .stat .proj::after,
.sections .targets .box .stat .team::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 6px;
}
.sections .targets .box .stat .money::after{
    background-color: var(--blue-back);
}
.sections .targets .box .stat .proj::after{
    background-color: var(--orange-back);
}
.sections .targets .box .stat .team::after{
    background-color: var(--green-back);
}
.sections .targets .box .stat .lvl > p{
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 5px;
}
.sections .targets .box .stat .lvl h3{
    font-size: 16px;
    font-weight: 600;
}
/* end targets  */
/* start tickets  */
.sections .tickets {
    padding: 20px;
}
.sections .tickets .top{
    margin-bottom: 20px;
}
.sections .tickets .top h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 5px;
}
.sections .tickets .top p{
    font-size: 16px;
}
.sections .tickets .box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.sections .tickets .box .stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 3px solid;
    border-radius: 8px;
    padding: 10px 0;
}
.sections .tickets .box .total{
    border-color: var(--orange-back);
}
.sections .tickets .box .pending{
    border-color: var(--blue-back);
}
.sections .tickets .box .closed{
    border-color: var(--green-back);
}
.sections .tickets .box .deleted{
    border-color: var(--red-back);
}
.sections .tickets .box .stat i,
.sections .tickets .box .stat h3{
    font-size: 28px;
}
.sections .tickets .box .total i{
    color: var(--orange);
}
.sections .tickets .box .pending i{
    color: var(--blue);
}
.sections .tickets .box .closed i{
    color: var(--green);
}
.sections .tickets .box .deleted i{
    color: var(--red);
}
.sections .tickets .box .stat p{
    font-size: 16px;
    text-transform: capitalize;
}
/* end tickets  */
/* start news  */
.sections .news {
    padding: 20px;
}
.sections .news h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .news .box .new {
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.sections .news .box .new:last-of-type {
    border: none;
    padding: 20px 0 0;
}
.sections .news .box .new img{
    width: 100px;
    border-radius: 8px;
}
.sections .news .box .new .text{
    position: relative;
    width: 100%;
}
.sections .news .box .new .text h4{
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 5px;
}
.sections .news .box .new .text span{
    position: absolute;
    right: 0;
    bottom: 50%;
    background-color: #eee;
    padding: 2px 5px;
    border-radius: 8px;
    font-size: 14px;
    text-transform: capitalize;
}
/* end news  */
/* start tasks  */
.sections .tasks {
    padding: 20px;
}
.sections .tasks h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .tasks .box .task {
    padding: 15px  0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.sections .tasks .box .task:last-of-type{
    border: none;
}
.sections .tasks .box .task h4{
    text-transform: capitalize;
    font-size: 16px;
}
.sections .tasks .box .done h4,
.sections .tasks .box .done p{
    text-decoration: line-through;
}
.sections .tasks .box .done h4,
.sections .tasks .box .done p,
.sections .tasks .box .done i{
    color: #ddd;
}
.sections .tasks .box .task p{
    font-size: 15px;
}
.sections .tasks .box .task i{
    position: absolute;
    cursor: pointer;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
}
.sections .tasks .box .task i:hover{
    color: var(--red);
}
/* end tasks  */
/* start items  */
.sections .items {
    padding: 20px;
}
.sections .items h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .items .item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    text-transform: capitalize;
}
.sections .items .item:first-of-type{
    color: gray;
}
.sections .items .item p{
    font-size: 16px;
    font-weight: 500;
}
.sections .items .item:first-of-type span{
    font-weight: 500;
    background-color: white;
    border: none;
}
.sections .items .item span{
    border: 1px solid #ddd;
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 5px;
    font-size: 14px;
}
/* end items  */
/* start uploads  */
.sections .uploads {
    padding: 20px;
}
.sections .uploads h3{
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
}
.sections .uploads .box .file{
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 10px;
}
.sections .uploads .box .file img{
    width: 40px;
}
.sections .uploads .box .file .desc{
    position: relative;
    width: 100%;
}
.sections .uploads .box .file .desc h4{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 5px;
}
.sections .uploads .box .file .desc p{
    text-transform: capitalize;
    font-size: 14px;
    color: gray;
}
.sections .uploads .box .file .desc span{
    position: absolute;
    right: 0;
    bottom: 50%;
    transform: translateY(50%);
    border: 1px solid #eee;
    background-color: #eee;
    border-radius: 8px;
    padding: 2px 5px;
    font-size: 14px;
}
/* end uploads  */