* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #000000;
}
li {
    list-style: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
}
/* end global rules  */
/* start navbar  */
.navbar {
    width: 250px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px #ddd;
}
.navbar .dev_moum > h3{
    text-align: center;
    text-transform: capitalize;
    padding: 20px 15px;
    position: relative;
}
.navbar .dev_moum > h3::before{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 15px;
    height: 15px;
    background-color: #000000;
    border-radius: 50%;
}
.navbar .dev_moum {
    position: relative;
    margin-bottom: 50px;
}
.navbar .dev_moum::before{
    position: absolute;
    left: 45%;
    transform: translateX(-100%);
    bottom: 0;
    content: "";
    width: 20%;
    height: 2%;
    background-color: #000000;
}
.navbar .dev_moum::after{
    position: absolute;
    right: 45%;
    transform: translateX(100%);
    bottom: 0;
    content: "";
    width: 20%;
    height: 2%;
    background-color: #000000;
}
.navbar .nav_list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
}
.navbar .nav_list #sec_on{
    background-color: #eee;
}
.navbar .nav_list li {
    width: 90%;
    display: flex;
    cursor: pointer;
}
.navbar .nav_list li a{
    padding: 15px 0 15px 30px;
    text-transform: capitalize;
    /* border: 1px solid; */
    width: 100%;
}
.navbar .nav_list li i{
    width: 40px;
    /* border: 1px solid; */
    text-align: center;
}
.navbar .nav_list li:hover{
    background-color: #eee;
}
/* end navbar  */
/* start page header  */
.page {
    width: calc(100vw - 250px);
}
.page header {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 0 4px #ddd;
}
.page header .logo{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.page header .logo img{
    width: 45px;
}
.page header .search_bar{
    position: relative;
}
.page header .search_bar input{
    padding: 10px 0 10px 50px;
    border-radius: 8px;
    font-size: 12px;
    text-transform: capitalize;
    border: 1px solid #ddd;
}
.page header .search_bar input:focus{
    outline: none;
}
.page header .search_bar i{
    position: absolute;
    left: 5%;
    bottom: 50%;
    transform: translateY(50%);
}
/* end page header  */
/* start page  */
.page_name {
    text-transform: capitalize;
    width: 180px;
    padding: 0 0 10px;
    position: relative;
}
.page_name::before {
    position: absolute;
    bottom: -10%;
    left: 0;
    content: "";
    width: 50%;
    height: 10%;
    background-color: white;
}
.page_name::after {
    position: absolute;
    bottom: -10%;
    left: 0;
    content: "";
    width: 25%;
    height: 10%;
    background-color: #000000;
}
.sections {
    padding: 10px 30px 30px;
    background-color: #8888882e;
}
/* end page  */