/* start global  */
:root {
    --background: #8888882e;
    --blue-back: #0075ff33;
    --orange-back: #f59e0b33;
    --green-back: #22c55e33;
    --red-back: #ff000033;
    --blue: #0075ff;
    --orange: #f59e0b;
    --green: #22c55e;
    --red: #f44336;
    --main-transition: 0.35s;
}
.sections .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}
.sections .semi_cont {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
@media (max-width: 1000px) {
    .sections .semi_cont {
        grid-template-columns: repeat(1, 1fr);
    }
}
.sections .container .sec{
    background-color: white;
    text-transform: capitalize;
    border-radius: 8px;
    padding: 20px;
}
.sections .sec .top{
    margin-bottom: 15px;
}
.sections .sec .top h3{
    font-size: 28px;
    margin-bottom: 5px;
}
.sections .sec .top p{
    font-size: 16px;
}
/* end global  */
/* start user  */
.sections .user {
    display: flex;
    background-color: white;
    gap: 30px;
    padding: 20px;
    border-radius: 8px;
}
.sections .user .logo{
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.sections .user .logo img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.sections .user .logo h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.sections .user .logo p{
    font-size: 18px;
    font-weight: 500;
}
.sections .user .logo .lvl{
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 4px;
    border-radius: 8px;
    background-color: var(--background);
}
.sections .user .logo .lvl::after{
    position: absolute;
    content: "";
    width: 70%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--blue);
}
.sections .user .logo ul{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}
.sections .user .logo ul li i{
    color: var(--orange);
    font-size: 12px;
}
.sections .user .logo > span{
    font-size: 12px;
    font-weight: 500;
}
.sections .user .info{
    text-transform: capitalize;
    width: 100%;
    font-weight: 500;
    font-size: 14px;
}
.sections .user .info  p{
    color: #888888;
}
.sections .user .info .general{
    border-bottom: 1px solid #ddd;
    padding: 0;
    padding: 10px 0;
}
.sections .user .info .billing{
    border: none;
}
.sections .user .info .general > p{
    font-size: 18px;
    margin-bottom: 15px;
    color: black;
}
.sections .user .info .general > div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
}
.sections .user .info p span{
    color: black;
    font-size: 15px;
    font-weight: 500;
}
@media (max-width: 1060px) {
    .sections .user .info .general > div{
        display: flex;
        flex-direction: column;
    }
    .sections .user {
        flex-direction: column;
    }
}
/* end user  */
/* start skills  */
.sections .semi_cont .skills{
    display: flex;
    flex-direction: column;
}
.sections .semi_cont .skills .box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}
.sections .semi_cont .skills .box div{
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid var(--background);
    padding: 5px 0 15px;
}
.sections .semi_cont .skills .box div:last-of-type{
    border: none;
    padding-bottom: 0;
}
.sections .semi_cont .skills .box div span{
    padding: 5px 10px;
    margin-right: 5px;
    background-color: var(--background);
    border-radius: 8px;
}
/* end skills  */
/* start activities  */
.sections .semi_cont .activities .activity,
.sections .semi_cont .activities .activity > div{
    display: flex;
    align-items: center;
}
.sections .semi_cont .activities .activity{
    gap: 10px;
    padding: 15px 0;
    border-bottom: 1px solid var(--background);
}
.sections .semi_cont .activities .activity:last-of-type{
    border: none;
    padding-bottom: 0;
}
.sections .semi_cont .activities .activity img{
    width: 60px;
}
.sections .semi_cont .activities .activity > div{
    justify-content: space-between;
    width: 100%;
}
.sections .semi_cont .activities .activity h4{
    margin-bottom: 5px;
}
.sections .semi_cont .activities .activity p{
    color: #888888;
    font-size: 15px;
}
.sections .semi_cont .activities .activity > div .last{
    text-align: end;
}
@media (max-width: 450px) {
    .sections .semi_cont .activities .activity,
    .sections .semi_cont .activities .activity > div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    }
    .sections .semi_cont .activities .activity > div .last{
        text-align: center;
    }
}
/* end activities  */