extends ../index

block pageName 
    - pageName = "plans";

block page content
    .container
        div(class="plan free")
            .top
                div
                    p free
                    .price
                        span $
                        h2 0.00
            .mid
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Text Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Videos Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Appear On Leaderboard
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Browse Content Without Ads
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Access All Assignments
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Get Daily Prizes
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Earn Certificate
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p 1 GB Space For Hosting Files
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Access Badge System
                    i(class="fa-solid fa-circle-info")
            button(type="submit") join
        div(class="plan basic")
            .top
                div
                    p basic
                    .price
                        span $
                        h2 8.99
            .mid
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Text Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Videos Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Appear On Leaderboard
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Browse Content Without Ads
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Assignments
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Get Daily Prizes
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Earn Certificate
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p 1 GB Space For Hosting Files
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-xmark")
                        p Access Badge System
                    i(class="fa-solid fa-circle-info")
            button(type="submit") join
        div(class="plan prem")
            .top
                div
                    p premium
                    .price
                        span $
                        h2 24.00
            .mid
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Text Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Videos Lessons
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Appear On Leaderboard
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Browse Content Without Ads
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access All Assignments
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Get Daily Prizes
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Earn Certificate
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p 1 GB Space For Hosting Files
                    i(class="fa-solid fa-circle-info")
                .box
                    div 
                        i(class="fa-solid fa-check")
                        p Access Badge System
                    i(class="fa-solid fa-circle-info")
            button(type="submit") join