extends ../index

block pageName 
    - pageName = "profile";

block page content
    .container
        .user
            .logo
                img(src="../images/team-01.png" alt="")
                h3 dev_^moum
                p level 24
                div(class="lvl")
                ul
                    li
                        i(class="fa-solid fa-star")
                    li
                        i(class="fa-solid fa-star")
                    li
                        i(class="fa-solid fa-star")
                    li
                        i(class="fa-solid fa-star")
                    li
                        i(class="fa-solid fa-star")
                span 556 rating
            .info
                div(class="general gen")
                    p general information
                    div
                        div
                            p full name 
                                span moumou
                        div
                            p gender: 
                                span male
                        div
                            p country: 
                                span dz
                    div(class="switch")
                div(class="general personal")
                    p personal information
                    div
                        div
                            p email: 
                                span ex@mm.dz
                        div
                            p num: 
                                span 05XX XX XX XX
                        div
                            p date of birth: 
                                span 06/06/1907
                    div(class="switch")
                div(class="general job")
                    p job information
                    div
                        div
                            p title: 
                                span full stack developer
                        div
                            p programming language: 
                                span javaScript
                        div
                            p years of experience: 
                                span +2
                    div(class="switch")
                div(class="general billing")
                    p billing information
                    div
                        div
                            p payment method: 
                                span paypal
                        div
                            p email: 
                                span exp@website.com
                        div
                            p subscription: 
                                span monthly
                    div(class="switch")
        .semi_cont
            div(class="sec skills")
                .top
                    h3 my skills
                    p complete skills list
                .box
                    div
                        span html
                        span pugjs
                        span haml
                    div
                        span CSS
                        span SASS
                        span stylus
                    div
                        span javaScript
                        span typeScript
                    div
                        span vuejs
                        span reactjs
                    div
                        span jest
                        span expressjs
                    div
                        span PHP
                        span laravel
                    div
                        span python
                        span django
            div(class="sec activities")
                .top
                    h3 latest activities
                    p latest activities done by the user
                .box
                    div(class="activity")
                        img(src="../images/activity-01 (1).png" alt="store")
                        div
                            div(class="first")
                                h4 store
                                p bought the ham sandwich
                            div(class="last")
                                h4 19:20
                                p yesterday
                    div(class="activity")
                        img(src="../images/activity-02.png" alt="store")
                        div
                            div(class="first")
                                h4 academy
                                p got the ham sandwich certificate
                            div(class="last")
                                h4 13:42
                                p yesterday
                    div(class="activity")
                        img(src="../images/activity-03.png" alt="store")
                        div
                            div(class="first")
                                h4 badges
                                p unlocked 10 ham sandwich skills
                            div(class="last")
                                h4 11:02
                                p yesterday
                    div(class="activity")
                        img(src="../images/activity-01 (1).png" alt="store")
                        div
                            div(class="first")
                                h4 store
                                p bought the double ham sandwich
                            div(class="last")
                                h4 09:32
                                p yesterday